{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Welcome to the Job Board!</h1>
  <p>Search for jobs or browse our current listings:</p>
  <a href="/search" class="btn btn-primary">Search Jobs</a>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td><a href="/job/{{ loop.index0 }}">{{ job.title }}</a></td>
          <td>{{ job.description }}</td>
          <td>{{ job.location }}</td>
          <td>${{ job.salary_min }} - ${{ job.salary_max }}</td>
          <td><a href="/apply/{{ job.id }}" class="btn btn-primary">Apply for {{ job.title }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-center">
    <p>Don't have an account?</p>
    <a href="/register" class="btn btn-primary">Register</a>
  </div>
</div>


{% endblock %}
