{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="text-center mb-4">My Applications</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Application Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr>
        <td>{{ application.job.title }}</td>
        <td>{{ application.job.company }}</td>
        <td>{{ application.job.location }}</td>
        <td>{{ application.job.salary_min }}</td>
        <td>{{ application.date_applied.strftime('%b %d, %Y') }}</td>
        <td>
          <a href="{{ url_for('job_board.job_detail', job_id=application.job.id) }}" class="btn btn-sm btn-outline-secondary">View Job</a>
        </td>
      </tr>
      {% endfor %}
</tbody>

  </table>
</div>
{% endblock content %}
